body{background-color:black ; color:white ; margin:0px ;}

#Lyric{text-align:center;font-size: 50px;}
#Lyric0{text-align:center;}

input#searchInput{margin-left:10px;}
div#list{margin:10px}
div#list div{display:none;float: left;}

label h1{margin:20px 0px 0px 15px ; font-size:35px ;}
label h5{margin:0px 0px 0px 30px ;}
label h1 a{color:white;text-decoration:none;}
