body{background-color: black;color: white;margin: 0px}

div h1#site{text-align:center;font-size: 50px;}
div h1#site a{color:white;text-decoration: none;}
div h1#site a:hover{color: gray;}

article#style.artist{text-align:center;}
div h5#artist.artist{margin: 0px;}

div p#music{padding-left: 25px;}

p h5#baixar{margin: 0px;}
#baixar{color:darkgray;text-align:center;text-decoration: none;}
#baixar:hover{color:red;}

#volta{color: white;text-decoration: none;}
#volta:hover{color: gray;}