*{font-family: 'Ubuntu', sans-serif;color: white;}

section{margin:2vw;}
strong#langua{color: yellow;font-size:2vw;}
select#opcoes{font-size:1.5vw;color: black;outline:none}
option{color:black}

#body{display: flex;flex-direction: column;align-content: center;justify-content: center;flex-wrap: wrap;}
#card{margin: 4vw 0vw 4vw 0vw;width: 69vw;border: 1vw solid #4f024f;background-color: purple;}
#title{display:flex;}
#contato{display:flex;justify-content: center;background-color: black;width: 100%;}

div#açaí{width: 100%;padding: 1vw;}
div#logo{display: flex;font-size: 5vw;align-items: center;position: relative;right: 6vw;}
div#selo{display: flex;align-items: flex-end;}

img#kiwi-açaí{width: 30vw;}
strong#açaí{color:white}
strong#pocket{color:yellow;margin: 0 0 0 1.40vw;}
img#sustentavel{width: 4vw;position: relative;padding: 1vw;}

div#algo{display: flex;border-top: 1vw solid #4f024f;flex-wrap: wrap;justify-content: center;flex-direction: column;}
p#topico{margin: 1vw 0vw 0vw 0vw;font-size: 2vw;text-align: center;}
p#conteudo{margin: 1.5vw;font-size: 1.5vw;text-align:center;}

.background-animation {margin:0;background-size:10vw;top: 0;left: 0;background-image: url('fundo_açaí.jpeg');animation: background-move 49s linear infinite;}
    @keyframes background-move {from {background-position: 0 0;} to {background-position: var(x) var(y);}}